@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'intelone-mono-font-family-italic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBareondotumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 7px #767676;
    transition: translate 500ms;
}

#logo-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 0.6rem;
}

#logo {
    height: 4rem;
    margin: 10px;
    transition: scale 300ms, box-shadow 300ms;
}

#logo-box:hover #logo {
    scale: 1.01;
    box-shadow: 1px 1px 2px #656565;
}

#title {
    font-family: 'intelone-mono-font-family-italic';
    font-size: 3.2em;
    color: #45a6ff;
    padding: 0.05em 0.1em 0.1em;
    transition: scale 300ms, text-shadow 300ms;
}

#logo-box:hover #title {
    scale: 1.01;
    text-shadow: 1px 1px 1px #bdbdbd;
}

#alram {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#alram.hidden {
    display: none;
}

#alram-img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

#auth-profile {
    margin-right: 18px;
}

#auth-profile.hidden {
    display: none;
}

#auth-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}




.shortcut {
    width: 5em;
    height: 5em;
    border: solid #b4b4b4;
    text-align: center;
    border-radius: 30%;
    cursor: pointer;
}